phidata 
python-dotenv
yfinance
packaging
duckduckgo-search
fastapi
uvicorn
groq
openai
pypdf
pgvector
packaging
sqlalchemy
psycopg[binary]
streamlit
plotly
google-generativeai
phidata
duckduckgo-search